body{
  padding:0;
  margin:0;
}
#cabecalho{
  background-color:#000000;
  height:60px;
  padding-bottom:2vh;
  width:100vw;
  box-shadow:0px 6px 4px gray;
  z-index:1;
}
#Menu1{
  display:inline;
}
#Menu1 ul{
  margin-left:51vw;
  display:inline-block;
}
#Menu1 li{
  display:inline;
  list-style:none;
  margin-left:1vw;
}

#Menu1 a{
  text-decoration:none;
  font-family:'Open Sans', sans-serif;
  color:white;
}
#Menu1 a:hover{
  transition:0.5s;
  border-bottom:5px solid #245c6b;
}
#Menu1 #BotaoContato:hover{
  transition:0.5s;
  border-bottom:5px solid #a8a8a8;
}
#BotaoContato{
  position:relative;
  margin-left:5vw;
  background-color:#a8a8a8;
  border:none;
  width:150px;
  height:40px;
  font-family: 'Open Sans', sans-serif;
  color:white;
  font-weight:bold;
  font-size:18px;
  border-radius:25px;
  display:inline-block;
  text-align:center;
  text-decoration: none;
  padding-top:1.4vh;
}

section{
  width:100vw;
}
h1{
  font-family: 'Open sans', sans-serif;
  font-weight: 400;
  font-size: 2.0em;
  margin-top:5%;
  margin-left: 39%;
}
h1 span{
  color:#368ba2;
}
.campos{
  border-style:solid;
  border-color:black;
  border-width:2px;
  width:400px;
  margin-left:35vw;
  font-family:'Open Sans', sans-serif;
  margin-top:2%;
}
#nome{

  display:block;

}
#email{
  display:block;


}
#description{
  display:block;


  padding-top:-25%;
  height:250px;
}
#Confirma{
  background-color:#245c6b;
  border:none;
  font-family:'Open Sans',sans-serif;
  color: white;
  margin-left:44vw;
  width:150px;
  height:50px;
  margin-top:3vh;
  border-radius:5px;
}
#Confirma:hover{
  transition:0.5s;
  box-shadow:0px 4px 4px gray;
}
#redes{
  float:right;
  z-index:-1;
  margin-right:10vw;
  margin-top:-70vh;
  font-family: 'Open sans', sans-serif;
}
#redes h2{
  font-weight:200;
}
#redes i:hover{
  color:#368ba2;
}
#redes a{
  color:inherit;
}
@media only screen and (max-width:990px) {
  #Menu1 ul{
    margin-left:30vw;
  }
  #BotaoContato{
    margin-left:15vw;
  }
  .campos{
    margin-left:30vw;
  }
  #redes{
    float: none;
    margin-top:0;
    margin-left:45vw;
  }

}

@media only screen and  (max-width:770px){
  #Menu1 ul{
    display:none;
  }
  .campos{
    margin-left:5vw;
    width:80vw;
  }
  h1{
    margin-left:5vw;
  }
  #BotaoContato{
    margin-left:5vw;
  }
}
