body{
  padding:0;
  margin:0;
}
#cabecalho{
  background-color:#000000;
  height:60px;
  padding-bottom:2vh;
  width:100vw;
  box-shadow:0px 6px 4px gray;
  z-index:1;
}
#Menu1{
  display:inline;
}
#Menu1 ul{
  margin-left:51vw;
  display:inline-block;
}
#Menu1 li{
  display:inline;
  list-style:none;
  margin-left:1vw;
}

#Menu1 a{
  text-decoration:none;
  font-family:'Open Sans', sans-serif;
  color:white;
}
#Menu1 a:hover{
  transition:0.5s;
  border-bottom:5px solid #245c6b;
}
#Menu1 #BotaoContato:hover{
  transition:0.5s;
  border-bottom:5px solid #a8a8a8;
}
#BotaoContato{
  position:relative;
  margin-left:5vw;
  background-color:#245c6b;
  border:none;
  width:150px;
  height:40px;
  font-family: 'Open Sans', sans-serif;
  color:white;
  font-weight:bold;
  font-size:18px;
  border-radius:25px;
  display:inline-block;
  text-align:center;
  text-decoration: none;
  padding-top:1.4vh;
}

#resumo1{
  margin:auto;
  width:70%;
  margin-top:5%;
}
#resumo1 img:nth-child(1){
  width:30%;
  height:30%;
  margin-left:35%;
  box-shadow:0px 6px 4px gray;
}
#resumo1 p{
  font-family:'Open Sans', sans-serif;
}

@media only screen and (max-width:990px) {
  #Menu1 ul{
    margin-left:30vw;
  }
  #BotaoContato{
    margin-left:15vw;
  }
  #resumo1 img:nth-child(1){
  width:45%;
  height:45%;
  margin-left:25%;
  }
}

@media only screen and  (max-width:770px){
  #Menu1 ul{
    display:none;
  }
  #resumo1 img:nth-child(1){
  width:55%;
  height:55%;
  margin-left:15%;
  }
}
